*{
    margin: 0;
    padding: 0;
}

.clear-fix:after {
    content: "";
    display: table;
    clear: both;
}

#main-wrapper{
    background-color: lightskyblue;
    height: 100vh;
}

#score-wrapper{
    float: left;
    width:200px;
    margin-left: 10px;
    margin-top: 20px;
    font-size: 30px;
    display: none;
}


.container{
    height: 600px;
    width: 1000px;
    background: whitesmoke;
    position: relative;
    /*padding: 5px;*/
    margin: 0 auto;
    margin-top: 20px;
    border: 10px rebeccapurple solid;
    float: left;
    display: none;
}


.box{
    width: 45px;
    height: 45px;
    /*background: red;*/
    background: url("ant.png") no-repeat;
    /*border-radius: 50%;*/
    position: absolute;
}

#start-wrapper{
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
    font-size: 2em;
}

#start-wrapper button{
    margin: 0 auto;
    margin-top: 10px;
    padding: 10px 20px;
    display: block;
}

#reset{
    margin-top: 20px;
    padding: 10px 20px;
}

#exit{
    margin-top: 20px;
    padding: 10px 20px;
}

.input-wrapper{
    margin-top: 20px;
    font-size: 0.8em;
}

.input-wrapper input{
    width: 20%;
}