* {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}


#main-wrapper {
    position: relative;
    margin: 0 auto;
    width: 864px;
}

#home-screen {
    position: absolute;
    width: 100%;
    height: 512px;
    background: url("images/transparentBackground.png") repeat;
    z-index: 1;
    overflow: hidden;
}



#home-screen .home-screen-message {
    width: 184px;
    height: 267px;
    margin: 0 auto;
    margin-top: 123px;
    background: url("images/homeScreen.png") no-repeat;
    z-index: 2;
}



.container-wrapper {
    position: absolute;
    width: 864px;
    height: 512px;
    background: url("images/background.png") repeat-x;
    background-position: 1px 0;
    overflow: hidden;
}

.pipe {
    position: absolute;
    width: 52px;
    height: 320px;
    background: url("images/pipe-green.png") no-repeat;
}

.bird {
    position: absolute;
    width: 34px;
    height: 24px;
    background: url("images/bird-up-flap.png") no-repeat;
}


.score-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 36px;
    z-index: 4;
    opacity: 0.6;
    margin: 20px 0 0 20px;
    display: none;
}


#game-over-wrapper {
    width: 100%;
    height: 512px;
    position: absolute;
    z-index: 10;
    background: url("images/transparentBackground.png") repeat;
    display: none;
}

#game-over-wrapper .game-over-message {
    position: absolute;
    width: 500px;
    height: 100%;
    margin-top: 100px;
    margin-left: 182px;

    z-index: 11;
    color: white;
    text-align: center;
}

#game-over-wrapper .game-over-message .game-over-image{
    width: 192px;
    height: 42px;
    background: url("images/gameover.png") no-repeat;
    background-repeat: no-repeat;
    margin: 0 auto;
}

#game-over-wrapper .game-over-message #final-score-wrapper{
    margin-top: 80px;
    margin-bottom: 80px;
    font-size: 40px;
    font-weight: bold;
}


#final-score-wrapper #final-score{
    width: 100px;
    height: 36px;
    margin: 0 auto;
    margin-top: 20px;
}