
.container-wrapper{
    width: 360px;
    height: 600px;
    background: url("background.png") repeat-y;
    background-color: black;
    background-position: 0 1px;
    position: relative;
    overflow: hidden;
}

#main-wrapper{
    /*position: relative;*/
    margin: 0 auto;
    width: 360px;
}

.car{
    position: absolute;
    height: 100px;
    width: 100px;
}

.good-car{
    background-color: limegreen;
}

.enemy-car{
    background-color: red;
}

.bullet{
    height: 10px;
    width: 10px;
    position: absolute;
    background-color: rebeccapurple;
    border-radius: 50%;
}

.score-wrapper{
    position: absolute;
    left: 0;
    top: 0;
    width:200px;
    margin-left: 10px;
    margin-top: 20px;
    font-size: 30px;
    color: white;
    z-index: 1;
}
