* {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#main-wrapper {
    position: relative;
    margin: 0 auto;
    width: 360px;
}

#home-screen {
    position: absolute;
    width: 360px;
    height: 600px;
    background: url("images/transparentBackground.png");
    z-index: 1;
    overflow: hidden;
}

#home-screen #start-button {
    width: 150px;
    height: 70px;
    margin: 0 auto;
    margin-top: 80px;
    border: 4px #ffffff solid;
    text-align: center;
    cursor: url("images/cursor.png"),auto;
    border-radius: 10px;
    transform: perspective(400px) rotateX(25deg);
    -ms-transform: perspective(400px) rotateX(25deg);
    /*transform-origin: 50% 100%;*/
}

#home-screen #start-button .text{
    display: inline-block;
    color: white;
    padding-top: 20px;
    font-size: 25px;
    font-weight: bold;
}

#home-screen .home-screen-text{
    color: white;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    margin-top: 80px;
    transform: perspective(200px) rotateX(35deg);
    -ms-transform: perspective(200px) rotateX(25deg);
    text-shadow:
            -3px -3px 0 lightgreen,
            3px -3px 0 lightgreen,
            -3px 3px 0 lightgreen,
            3px 3px 0 lightgreen;
}

#home-screen .home-screen-text .inner-text{
    transform: perspective(400px) rotateX(35deg);
    -ms-transform: perspective(400px) rotateX(25deg);
    font-size: 10px;
    margin-top: 60px;
    text-shadow: none;
    color: lightgreen;
}

.container-wrapper {
    width: 360px;
    height: 600px;
    background: url("images/starBackground.png") repeat;
    background-position: 0 1px;
    position: absolute;
    overflow: hidden;
    z-index: -1;
}

#game-over-wrapper {
    width: 360px;
    height: 500px;
    position: absolute;
    z-index: 10;
    background: url("images/transparentBackground.png") no-repeat;
    display: none;

    color: red;
    font-size: 50px;
    text-align: center;
    padding-top: 100px;

}

#game-over-wrapper .message {
    color: white;
    font-size: 15px;
}

.car {
    position: absolute;
    width: 100px;
}

.player-car {
    height: 75px;
    background: url("images/player.png") no-repeat;
}

.enemy-car {
    height: 50px;
    background: url("images/enemyShip.png") no-repeat;
}

.meteor {
    height: 95px;
    background: url("images/meteor.png") no-repeat;
}

.bullet {
    height: 33px;
    width: 9px;
    position: absolute;
    background: url("images/laserRed.png") no-repeat;
    border-radius: 50%;
}

.score-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    font-size: 20px;
    background-color: white;
    color: mediumpurple;
    z-index: 4;
    opacity: 0.6;
    margin: 6px 0 0 10px;
    text-align: right;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 6px;
}

#final-score-wrapper {
    font-size: 40px;
    text-align: center;
    color: white;
}

audio{
    display: none;
}

.small-explosion{
    position: absolute;
    width: 56px;
    height: 54px;
    background: url("images/smallExplosion.png") no-repeat;
}

.big-explosion{
    position: absolute;
    width: 62px;
    height: 71px;
    background: url("images/bigExplosion.png") no-repeat;
}

.player-explosion {
    position: absolute;
    width: 62px;
    height: 71px;
    background: url("images/playerExplosion.png") no-repeat;
}