*{
    margin: 0;
    padding: 0;
}

.clear-fix:after {
    content: "";
    display: table;
    clear: both;
}

#score-wrapper{
    float: left;
    width:200px;
    margin-left: 10px;
    margin-top: 20px;
    font-size: 30px;
}


#container{
    height: 600px;
    width: 1000px;
    background: lightskyblue;
    position: relative;
    /*padding: 5px;*/
    margin: 0 auto;
    margin-top: 20px;
    border: 10px rebeccapurple solid;
    float: left;
}


.ants{
    width: 50px;
    height: 50px;
    /*background: red;*/
    background: url("ant.png");
    border-radius: 50%;
    position: absolute;
}